<p>education</p>

<div>
    <h3>Course: BLW201</h3>
    <h3>Description: Legal/Ethical Environment of Businesses</h3>
</div>

<div>
    <h3>BMS 125</h3>
    <h3>Business Calculus I</h3>
</div>

<div>
    <h3>ECO 106</h3>
    <h3>Principles of Macroeconomics</h3>
</div>

<div>
    <h3>MGT 228</h3>
    <h3>Business, Ethics & Society</h3>
</div>

<div>
    <h3>BMS 126</h3>
    <h3>Business Calculus II</h3>
</div>
